{% extends 'goats/base.html' %}

{% block style %}
    <style>
            .jumbotron {
                background-image: url('/static/images/goat3.jpg');
                color: yellow;
                background-size: 100%;
                height: 38em;
            }
    </style>
{% endblock %}



{% block content %}

        <div class="container">
            <div class="jumbotron">
                <div class="col-sm-8 mx-auto">
                    <h1>Goats, All the Time</h1>
                    <p>Here at Goat Hub, we blehhehh.</p>
                </div>
            </div>
        </div>

{% endblock %}


